.jarvis-container {
    max-width: 800px; /* Largeur plus grande du conteneur */
    position: relative; /* Nécessaire pour que les images positionnées absolument soient référencées par rapport à ce conteneur */
    text-align: center;
    padding: 20px;
    margin: auto;
    border-radius: 10px; /* Bords arrondis pour le conteneur */
    overflow: hidden; /* Assure que les enfants ne débordent pas des bords arrondis */
    background-color: 	#3366ff; /* Couleur de fond pour le conteneur */
}/* CSS pour le contenu du milieu */

#chat-container {
    background-color: #7ebbfc;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    padding: 10px;
    height: 300px;
    overflow-y: auto;
}

#user-input {
    width: calc(100% - 20px); /* Calcule la largeur totale moins le padding */
    height: 50px; /* Hauteur initiale plus petite */
    margin-top: 10px;
    padding: 10px; /* Padding intérieur pour le textarea */
    box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur/hauteur */
    border-radius: 4px; /* Bords arrondis pour le textarea */
    border: 1px solid #ccc; /* Bordure pour le textarea */
    resize: none; /* Empêche le redimensionnement manuel */
    overflow: hidden; /* Cache la barre de défilement */
    background-color : #7ebbfc;
}

#send-button {
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px ; /* Bords arrondis pour le bouton */
    border-color: #3366ff;
    background-color : #7ebbfc;
}


.user-message {
    background-color: #7ebbfc;
    align-self: flex-end;
    margin-left: auto;
}

.jarvis-message {
    background-color: #115298;
    align-self: flex-start;
    margin-right: auto;
}

/* Ajouter des transitions pour les animations */
h1, p, #user-input, #send-button {
    transition: all 0.3s ease;
}

/* Ajouter le hover sur le bouton */
#send-button:hover {
    background-color: #365f79; /* Assombrir le bouton au survol */
    color: cornflowerblue;
}

h1,p {
    font-family: "Copperplate", serif;
    text-align : center;
}


.chat-message {
    display: flex;
    align-items: center; /* Aligner les éléments verticalement */
    margin-bottom: 10px; /* Espacement entre les messages */
}

.chat-message .avatar {
    width: 70px; /* Ou toute autre taille que vous souhaitez pour l'avatar */
    height: 100%; /* Assurez-vous que c'est carré */
    margin-right: 10px; /* Espacement entre l'avatar et le texte */
    margin-top : 20px;
}

.chat-message p {
    margin: 0; /* Enlever la marge par défaut du paragraphe */
    flex-grow: 1; /* Permet au texte de prendre l'espace disponible */
}

