/* Style pour la navbar */
.navbar {
    margin: 0; /* Aucune marge autour de la navbar */
    border-radius: 0; /* Pas de bordures arrondies */
    width: 100%; /* La navbar doit couvrir toute la largeur */
    background: linear-gradient(to bottom, #594635, #88764c); /* Dégradé bleu */
    color: #fff; /* Couleur du texte en blanc */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Ombre légère */
    position: relative;
}

/* Si vous utilisez un conteneur à l'intérieur de la navbar, assurez-vous qu'il soit aussi en pleine largeur */
.navbar .container, .navbar .container-fluid {
    padding-left: 0; /* Aucun padding à gauche */
    padding-right: 0; /* Aucun padding à droite */
    width: 100%; /* La largeur doit être de 100% pour s'étendre sur toute la largeur de la navbar */
}

/* Style pour les icônes et le texte dans les liens */
.nav-icon {
    width: 32px; /* Largeur de l'icône */
    height: 32px; /* Hauteur de l'icône */
    display: block; /* Afficher l'icône comme un bloc pour ajuster la taille */
    margin: 0 auto 5px; /* Espacement entre l'icône et le texte */
}

.nav-link {
    text-align: center; /* Centrer le texte sous l'icône */
}

/* Assurez-vous que le body n'a pas de marge */
body {
    margin: 0; /* Aucune marge pour le body */
    padding-top: 0; /* Aucun padding au-dessus du body pour éviter un espace blanc */
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand img {
    height: auto;
    width: 120px; /* Ajuster selon la taille de votre logo Marvel */
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("public/Logo.png"); /* Remplacer par le chemin d'accès à votre icône de menu */
}

.nav-link {
    color: #FFD700; /* Texte jaune doré pour les liens */
    font-family: 'Bangers', cursive; /* Police de style bande dessinée */
    margin-right: 1rem; /* Espacement entre les liens */
    text-shadow: 2px 2px 2px #000000; /* Ombre portée pour un effet 3D */
}

.nav-link i {
    margin-right: 0.3rem; /* Espacement entre l'icône et le texte */
}

/* Changements de style au survol des liens */
.nav-link:hover {
    color: #FFFFFF; /* Blanc au survol */
    text-shadow: none; /* Pas d'ombre portée au survol */
}

/* Style pour les icônes dans les liens */
.fas {
    margin-right: 0.5rem; /* Espacement entre l'icône et le texte */
}

/* Style pour le bouton de connexion et inscription */
.login-button, .signup-button {
    background-color: #FFD700; /* Jaune doré pour les boutons */
    border: none;
    color: #000000; /* Texte noir pour les boutons */
    text-shadow: none; /* Pas d'ombre portée pour les boutons */
}

.login-button:hover, .signup-button:hover {
    background-color: #FFA500; /* Orange au survol */
}
/* Style général pour la modal */
.modal-content {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

/* Style pour la partie de connexion */
.login-illustration img {
    width: 50%; /* Ou la taille désirée */
    height: auto;
    display: block;
}

/* Style pour le formulaire de connexion */
.login-form {
    flex-grow: 1;
    padding: 20px;
}

/* Style des inputs du formulaire */
.login-form .form-control {
    border: 2px solid #007bff; /* Couleur bleue Marvel */
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

/* Bouton de connexion */
.login-form .btn-primary {
    background-color: #E62429; /* Rouge Marvel */
    border-color: #E62429;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/* Pied de page de la modal */
.modal-footer {
    background-color: #f7f7f7;
    border-top: 1px solid #dee2e6;
}

/* Lien d'inscription et d'aide */
.login-register, .login-help {
    font-size: 0.9rem;
}

.login-register a, .login-help a {
    color: #007bff; /* Bleu Marvel */
}

/* Style de la modal */
.modal-dialog {
    max-width: 800px; /* Augmenter la largeur de la modal si nécessaire */
}

/* Style général pour la modal */
.modal-content {
    border-radius: 10px;
    overflow: hidden;
    display: flex; /* Utilisez flexbox pour un meilleur contrôle du layout */
    align-items: center; /* Centrer les éléments verticalement */
    justify-content: space-around; /* Répartir l'espace autour des éléments */
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

/* Style pour la partie de connexion */
.login-illustration img {
    max-width: 40%; /* Ajustez selon vos besoins */
    max-height: 300px; /* Ajustez selon vos besoins */
    width: auto; /* Gardez le ratio de l'image */
    height: auto; /* Gardez le ratio de l'image */
    display: block;
    margin: 0 auto; /* Centrer l'image si nécessaire */
}

/* Style pour le formulaire de connexion */
.login-form {
    flex-grow: 1;
    max-width: 60%; /* Ajustez selon vos besoins */
    padding: 20px;
}

/* Style des inputs du formulaire */
.login-form .form-control {
    border: 2px solid #007bff; /* Couleur bleue Marvel */
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

/* Bouton de connexion */
.login-form .btn-primary {
    background-color: #E62429; /* Rouge Marvel */
    border-color: #E62429;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/* Pied de page de la modal */
.modal-footer {
    background-color: #f7f7f7;
    border-top: 1px solid #dee2e6;
}

/* Lien d'inscription et d'aide */
.login-register, .login-help {
    font-size: 0.9rem;
}

.login-register a, .login-help a {
    color: #007bff; /* Bleu Marvel */
}

/* Ajustements pour les petits écrans */
@media (max-width: 768px) {
    .modal-content {
        flex-direction: column; /* Empilez verticalement sur les petits écrans */
    }

    .login-illustration img {
        max-width: 80%; /* Ajustez pour les petits écrans */
        max-height: 200px; /* Ajustez pour les petits écrans */
    }

    .login-form {
        max-width: 100%; /* Utilisez toute la largeur disponible */
    }
}









