footer {
    background: linear-gradient(to bottom, #594635, #88764c);
    color: #fff;
    padding: 10px 20px; /* Réduction du padding pour diminuer la hauteur */
    display: flex;
    justify-content: space-between; /* Alignement des éléments sur les côtés */
    align-items: center; /* Centrage vertical des éléments */
}

footer img {
    max-width: 100px; /* Réduction de la taille du logo si nécessaire */
    margin-right: 20px; /* Espace entre le logo et le texte */
}

footer .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne sur de petits écrans */
}

footer .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .col-md-4 {
    flex: 1; /* Flexibilité des colonnes pour remplir l'espace disponible */
    margin: 0 10px; /* Espace horizontal entre les colonnes */
}

footer .text-center {
    text-align: left; /* Alignement du texte à gauche pour la première colonne */
}

footer .text-center:last-child {
    text-align: right; /* Alignement du texte à droite pour la dernière colonne */
}

footer .p-3 {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px; /* Espacement autour du texte de copyright */
    font-size: 0.8em; /* Réduction de la taille de la police */
}
