/* Main styles with the color palette */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Bangers', cursive;
}

.bg-image {
    background-image: url('../images/bd.png');
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.chat-interface {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    font-family: 'Bangers', cursive;
    margin: auto;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#chat-container {
    height: 300px;
    overflow-y: auto;
    font-family: 'Bangers', cursive;
    background-color: #F5F5DC;
    border: 1px solid #926F5B;
    border-radius: 4px;
    padding: 10px;
}

#user-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #926F5B;
    background-color: #F5F5DC;
    font-family: 'Bangers', cursive;
}

#send-button {
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
    background-color: #8A3324;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#send-button:hover {
    background-color: #5C4033;
}


.chat-message {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.chat-message .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-message p {
    margin: 0;
    padding: 8px 12px;
    background: #F5F5DC;
    border-radius: 10px;
    border: 1px solid #926F5B;
    max-width: 70%;
}

.user-message {
    flex-direction: row-reverse;
}

.user-message .avatar {
    margin-left: 10px;
    margin-right: 0;
}

.jarvis-message .avatar {
    margin-right: 10px;
}



