/* General page styles */
body {
    font-family: 'Bangers', cursive;
    background: url('../images/quiz2.png') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 20px;
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header .title {
    font-size: 2em;
    color: #333;
}

/* Dropdown styles */
.sort-dropdown {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* Quiz card container */
.quiz-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: auto;
    max-width: 1200px;
}

/* Individual quiz card styles */
.quiz-card {
    background: linear-gradient(to bottom, rgba(245, 245, 220, 0.3) 0%, rgba(245, 245, 220, 0.8) 100%);
    backdrop-filter: blur(5px);
    color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 500px;
    overflow: hidden;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
}

.quiz-card:hover {
    transform: scale(1.05);
}

/* Style pour l'image du quiz */
.quiz-card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.quiz-card .content {
    padding: 15px;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.quiz-card .title {
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Bangers', cursive;
}

.quiz-card .description {
    font-size: 1em;
    color: #666;
    font-family: 'Bangers', cursive;
}

.quiz-card-link {
    text-decoration: none;
    color: inherit;
}

/* Description dans la carte */
.description {
    font-size: 0.9em;
    margin: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .header, .quiz-container {
        flex-direction: column;
        align-items: center;
    }

    .quiz-card {
        width: 90%;
        height: auto;
    }
}
