/* quiz_end.css */
body {
    font-family: 'Audiowide', sans-serif;
    background-image: url('../images/questions.png'); /* Assurez-vous que le chemin est correct */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.quiz-end-container {
    background-color: rgb(231, 182, 149); /* Fond blanc avec une transparence */
    border-radius: 15px;
    padding: 20px;
    width: 40% !important;
    margin: 30px auto;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

h1 {
    color: #886717;
    text-align: center;
    margin-bottom: 20px;
}

.final-score {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 20px;
}

.leaderboard {
    border: 2px solid #8b5a2b;
    padding: 10px;
    margin-bottom: 20px;
}

.back-to-list {
    display: block;
    text-align: center;
    background-color: #8b5a2b;
    color: white;
    padding: 10px 20px;
    margin: auto;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.back-to-list:hover {
    background-color: #594635;
}
