body, html {
    margin: 0;
    background-image: url('../images/questions.png');
    background-position: center;
    background-size: cover;
    font-family: 'Bangers', cursive;
}

.quiz-card {
    background-color: #beae92 !important;
    border: 2px solid #b08c6c !important;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quiz-question {
    color: #8b5a2b;
    margin-bottom: 30px;
}

.quiz-options {
    padding: 0;
}

.quiz-option {
    background-color: #c5aa95;
    border: 2px solid #8b5a2b;
    border-radius: 20px;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.quiz-option:hover {
    background-color: #594635;
    transform: scale(1.05);
}

.quiz-option.selected {
    background-color: #594635;
}

.btn-submit {
    background-color: #8A3324 !important;
    color: white !important;
    padding: 14px 28px ; /
    border: 2px solid #b08c6c !important;
    cursor: pointer ;
    border-radius: 20px !important;
    width: 75% ;
    font-size: 1.1em ;
    display: block ;
    margin: 20px auto ;
    transition: background-color 2.7s ease; ;
}


.btn-submit:hover {
    background-color: #5d3b09;
    transform: scale(1.05); !important;
}
