/* Style général de la page */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9; /* Couleur de fond subtile */
    color: #333;
    margin: 0;
    padding: 20px;
}

/* En-tête de la page */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header .title {
    font-size: 2em;
    color: #333;
}

/* Style du menu déroulant de tri */
.sort-dropdown {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* Container principal pour les cartes de quiz */
.quiz-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espace entre les cartes */
    justify-content: center;
}

/* Style des cartes de quiz */
.quiz-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Effet d'ombre subtile */
    width: 200px; /* Largeur fixe, mais vous pouvez utiliser max-width pour la réactivité */
    overflow: hidden; /* Pour que les coins arrondis soient pris en compte sur les images */
    transition: transform 0.3s; /* Animation douce pour l'effet hover */
}

.quiz-card:hover {
    transform: scale(1.05); /* Agrandissement léger lors du survol */
}

.quiz-card img {
    width: 100%;
    height: auto; /* Conserver les proportions de l'image */
}

.quiz-card .content {
    padding: 15px;
}

.quiz-card .title {
    font-weight: bold;
    margin-bottom: 5px;
}

.quiz-card .difficulty {
    font-size: 0.8em;
    color: #666;
}

.quiz-card .category {
    font-size: 0.8em;
    color: #666;
    background: #e4e4e4;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 4px;
    margin-top: 8px;
}

.quiz-card-link {
    text-decoration: none; /* Enlève le soulignement des liens */
    color: inherit; /* Le texte hérite de la couleur parente */
}

.quiz-card-link:hover .quiz-card {
    transform: scale(1.05); /* L'effet de survol pour agrandir la carte */
}
