body {
    background-color: #f4f4f4;
}

.navbar {
    background-color: #333;
    border-radius: 0;
}

.navbar a.navbar-brand {
    color: #fff;
}

.navbar a.navbar-brand:hover {
    color: #ccc;
}

.container {
    max-width: 800px;
    margin: auto;
}

.card {
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #E62429;
    color: grey;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.btn-primary {
    background-color: #E62429;
    border: none;
}

.btn-primary:hover {
    background-color: #C10000;
}
