body {
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.forum-title {
    font-size: 24px; /* La taille du titre */
    color: #333; /* La couleur du texte du titre */
    text-align: center;
    margin-top: 1rem; /* L'espace au-dessus du titre */
    margin-bottom: 1rem; /* L'espace en dessous du titre */
    font-weight: bold;
}

.search-bar-container {
    margin-bottom: 1rem; /* L'espace en dessous de la barre de recherche */
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.btn-primary {
    padding: 10px 20px;
    background-color: #E62429; /* La couleur de votre bouton */
    color: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.search-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.search-filter {
    padding: 10px;
    border: none;
    background-color: #f4f4f4;
    color: #333;
    cursor: pointer;
}

.search-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
}

.search-btn {
    padding: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
}

.search-btn i {
    font-size: 1.2rem;
}

.btn-primary:hover, .search-btn:hover {
    background-color: #C10000;
}


/* Hover effects */
.btn-primary:hover, .search-btn:hover {
    background-color: #C10000; /* Darker shade for hover effect */
}

/* Topic list styles */
.topic-header {
    display: flex;
    justify-content: space-between;
    background-color: #E62429;
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
}

.topic-section {
    flex: 1;
    text-align: center;
}

.topic-item {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    border-left: 4px solid #E62429;
    transition: all 0.3s ease;
}

.topic-item:hover {
    background-color: #f9f9f9;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}

.topic-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.topic-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 10px;
}

.topic-author, .topic-count, .topic-last {
    font-style: italic;
}

@media (max-width: 768px) {
    .topic-link {
        flex-direction: column;
        align-items: flex-start;
    }

    .topic-info {
        text-align: left;
        margin-top: 10px;
    }
}


